@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #f5f8ff;
}


/* relative style */
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.black-color-50 {
  color: rgba(0, 0, 0, 0.5);
}

.orenge-color {
  color: #e95a08;
}

.relative-title {
  font-size: 3.125rem;
  font-weight: 700;
  margin: 0;
  position: static;
}
/*nav bar style*/
.navber {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  max-width: 1140px;
}

.nav-item {
  text-decoration: none;
  margin-left: 3rem;
}

.item-color-1 {
  color: #252432;
}

.item-color-2 {
  color: #8987a1;
}

.item-color-3 {
  color: black;
}
/* banner section styles */

.banner-section {
  display: flex;
  max-width: 1140px;
  margin: 120px auto;
}

.banner-title {
  font-size: 4rem;
  font-weight: 700;
}

.banner-discription {
  font-size: 1.37rem;
  font-weight: 400;
}

/* our plants styles */

.our-plants {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}

.plant-title {
  font-size: 3.1rem;
  font-weight: 700;
  margin: 0;
  
}
/* cart styles */

.cart {
  max-width: 270px;
  max-height: 484px;
  text-align: center;
}

.cart img {
  width: 100%;
  height: 320px;
}

.cart-description {
  margin: 10px auto;
}

.cart-title {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  font-weight: 600;
}

.cart-price {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 700;
  padding-top: 20px;
}

.praimary-btn {
  width: 100%;
  height: 50px;
  background-color: rgba(233, 90, 8, 1);
  border: none;
  color: white;
  cursor: pointer;
}

.plant-cart {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 20px;
}

/* Flower & Plants Lover styles */

.flower-plant-lover {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  max-height: 590px;
  margin: 50px auto;
}

.flower-plant-lover-content {
  max-width: 540px;
  align-items: center;
  margin: auto 0;
}

.flower-plant-lover-img {
  max-width: 540px;
  max-height: 590px;
}

.flower-plant-lover img {
  width: 100%;
}

.flower-plant-lover-list {
  font-size: 1.37rem;
  margin-top: 20px;
}

/* latest deals section stules */

.latest-deals-section-content {
  margin: 60px auto;
  text-align: center;
}

.latest-deal-card-title-first {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0px;
}

.latest-deal-card-title-secont {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
}

.latest-deals-cart-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.latest-deal-cart-container {
  display: flex;
  max-width: 1140px;
  max-height: 423px;
  margin: 0 auto;
  justify-content: space-between;
  text-align: center;
}

.card1 {
  background-image: linear-gradient(to left, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../assets/deal-bloom.png);
  margin-bottom: 25px;
  
}

.card2 {
  background-image: linear-gradient(to left, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../assets/deal-ana.png);
}

.card1,
.card2 {
  background-repeat: no-repeat;
  border-radius: 14px;
  width: 360px;
  height: 200px;
  color: white;
}

.card1,
.card2,
.card3 {
  position: relative;
  color: white;
  background-size: cover;
  background-position: center;
}

.card3 {
  background-image: linear-gradient(to left, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../assets/deal-zabo.png);
  background-repeat: no-repeat;
  width: 753px;
  height: 423px;
  border-radius: 12px;
}

.latest-deal-shop-1 {
  font-weight: 600;
  margin: 0;
  color: white;
}
.latest-deal-shop-2 {
  font-size: 1.75rem;
  font-weight: 600;
  margin: 0;
  color: white;
}

.btn-latest {
  background: none;
  border: none;
}

/* subscribe conten styles */

.subscribe-conten {
  max-width: 1440px;
  height: 540px;
  margin: 120px auto 50px;
  display: flex;
}

.subscribe-img {
  background-image: url(../assets/news-letter-bg.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.subscribe-form {
  margin-top: 195px;
  align-items: center;
}

.subscribe-title {
  font-size: 3.12rem;
  font-weight: 700;
  color: white;
  margin: 20px auto;
}

.secount-btn {
  width: 180px;
  height: 50px;
}

#email {
  width: 640px;
  height: 50px;
  padding: 0 20px;
}
.sub{
    width: 186px;
    height: 50px;
    background-color: #E95A08;
    color:white;
    border: none;
}
/* .subscribe-form-section{
    width: 644px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding:0px;
} */
/* footer section styles */

.footer-section {
  max-width: 1120px;
  height: 250px;
  display: flex;
  margin: 50px auto;
  gap: 110px;
}
.footer-title {
  width: 350px;
}
.footer-title-description {
  font-size: 1.2rem;
  font-weight: 400;
}


.footer-home {
  display: flex;
  text-decoration: none;
  color: rgba(107, 114, 128, 1);
  gap: 32px;
}

.footer-features a {
  text-decoration: none;
  color: rgba(107, 114, 128, 1);
}

.footer-logo {
  display: flex;
  gap: 24px;
}

/* Moble divice responsive */

@media screen and (max-width: 576px) {
  /* navber section */

  .hight {
    display: none;
  }

  .navber {
    margin-top: 60px;
  }

  /* responsive banner section */

  .banner-section,
  .latest-deal-cart-container,
  .flower-plant-lover,
  .latest-deal-cart-container,
  .footer-section {
    flex-direction: column;
  }

  .banner-section img {
    order: -1;
  }

  .banner-title {
    font-size: 1.5rem;
  }

  /* responsive cart section */

  .plant-cart {
    grid-template-columns: repeat(2, 1fr);
  }

  .cart img {
    height: 190px;
  }

  /* Flower & Plants Lover section */

  .flower-plant-lover img {
    margin-bottom: 20px;
  }

  /* Latest  Deals section */

  .card3 {
    max-width: 360px;
    min-height: 200px;
    margin: auto;
  }
  .card1,
  .card2 {
    margin: 20px auto;
  }
  .latest-deal-card-title-secont {
    font-size: 1.2rem;
  }
  .latest-deals-section {
    margin-top: 500px;
    margin-bottom: 300px;
  }

  /* subscribe content section */

  .subscribe-title {
    font-size: 1.2rem;
  }
  .subscribe-img {
    width: 390px;
    height: 170px;
    margin: 0;
  }
  .subscribe-form {
    margin: 0;
  }
  #email {
    width: 160px;
    height: 50px;
  }
  .secount-btn {
    width: 80px;
    height: 50px;
  }
  subscribe-form-section {
    display: flex;
    flex-direction: column;
  }
  .subscribe-conten {
    margin: 0;
    margin-top: 50px;
    height: 0px;
  }

  /* footer section */
  .footer-section{
    margin: 50px auto;
  }
  .footer-title{
    margin-top: 130px;
  }
}
