@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* relative style */
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.black-color-50 {
  color: rgba(0, 0, 0, 0.5);
}

.orenge-color {
  color: #e95a08;
}

.relative-title {
  font-size: 3.125rem;
  font-weight: 700;
  margin: 0;
  position: static;
}
/*nav bar style*/
.navber {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  max-width: 1140px;
}

.nav-item {
  text-decoration: none;
  margin-left: 3rem;
}

.item-color-1 {
  color: #252432;
}

.item-color-2 {
  color: #8987a1;
}

.item-color-3 {
  color: black;
}
/* banner section styles */

.banner-section {
  display: flex;
  max-width: 1140px;
  margin: 120px auto;
}

.banner-title {
  font-size: 4rem;
  font-weight: 700;
}

.banner-discription {
  font-size: 1.37rem;
  font-weight: 400;
}

/* our plants styles */

.our-plants {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}

.plant-title {
  font-size: 3.1rem;
  font-weight: 700;
  margin: 0;
  
}
/* cart styles */

.cart {
  max-width: 270px;
  max-height: 484px;
  text-align: center;
}

.cart img {
  width: 100%;
  height: 320px;
}

.cart-description {
  margin: 10px auto;
}

.cart-title {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  font-weight: 600;
}

.cart-price {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 700;
  padding-top: 20px;
}

.praimary-btn {
  width: 100%;
  height: 50px;
  background-color: rgba(233, 90, 8, 1);
  border: none;
  color: white;
  cursor: pointer;
}

.plant-cart {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 20px;
}

/* Flower & Plants Lover styles */

.flower-plant-lover {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  max-height: 590px;
  margin: 50px auto;
}

.flower-plant-lover-content {
  max-width: 540px;
  align-items: center;
  margin: auto 0;
}

.flower-plant-lover-img {
  max-width: 540px;
  max-height: 590px;
}

.flower-plant-lover img {
  width: 100%;
}

.flower-plant-lover-list {
  font-size: 1.37rem;
  margin-top: 20px;
}




